body {
     background-color: #BFCFD0;
}
 .title {
     background-color: #085359;
     color: #E1DEED;
     padding: 20px;
}
 .login-panel {
    background-color: #ffffff;
    padding: 10px;
}
 .intro-video {
     padding: 10px;
}
 .row-quiz {
     padding: 10px;
}
 .col-centered {
     float: none;
     margin: 0 auto;
} 
 .no-top-margin {
     margin-top: 0px;
 }
 #email {
    display:inline;
    width:auto;
}
 #password {
    display:inline;
    width:auto;
}
 #welcome-message {
     display:inline-block;
     margin-right:10px;
}